<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Set it to true to avoid enabling it on every delelopers machine -->
    <add key="enabled" value="True" />
  </packageRestore>
  <config>
    <!-- Set single repository for every new solution under this root directory -->
    <add key="repositorypath" value=".\packages" />
  </config>
  <packageSources>
    <clear />

	<add key="DX Internal" 							value="http://nuget.devexpress.devx/nuget" />  
    <add key="nuget.org"                            value="https://www.nuget.org/api/v2/" />
    
  </packageSources>
</configuration>