<Complex name="Root" type="DXVcs2Git.Core.Git.RepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="DemosCrossPlatform_2017.2" />
    <Simple name="FarmTaskName" value="TestBuild.v17.2" />
    <Simple name="DefaultServiceName" value="dxvcs2git.platform" />
    <Simple name="Server" value="http://gitserver" />
    <Simple name="FarmSyncTaskName" value="CrossPlatform demos sync task v17.2" />
    <Simple name="TargetBranch" value="2017.2" />
    <Simple name="SupportsTesting" value="true"/>
    <Simple name="TestServiceName" value="dxvcs2git.tester"/>
    <Simple name="WebHook" value="sharedwebhook"/>
    <Simple name="WebHookTask" value="WebHook sync task"/>
  </Properties>
</Complex>