<Complex name="Root" type="DXVcs2Git.Core.Git.TestConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="XPF_2016.1_Core" />
    <Simple name="DisplayName" value="XPF Core" />
    <Simple name="FarmRepoConfig" value="$/CCNetConfig/LocalProjects/Git/Test_16.1" />
  </Properties>
</Complex>