<Collection name="Root" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackBranch, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
  <Properties>
    <Simple name="Capacity" value="4" />
  </Properties>
  <Items>
    <Complex>
      <Properties>
        <Simple name="Name" value="2016.1" />
        <Collection name="TrackItems" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackItem, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
          <Properties>
            <Simple name="Capacity" value="19" />
          </Properties>
          <Items>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/ASPxThemeBuilder" />
                <Simple name="ProjectPath" value="ASPxThemeBuilder" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/ASPxThemeDeployer" />
                <Simple name="ProjectPath" value="ASPxThemeDeployer" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web" />
                <Simple name="ProjectPath" value="DevExpress.Web" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxHtmlEditor" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxHtmlEditor" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxRichEdit" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxRichEdit" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxRichEdit.Tests" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxRichEdit.Tests" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxScheduler" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxScheduler" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxSpellChecker" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxSpellChecker" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxSpreadsheet" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxSpreadsheet" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxThemes" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxThemes" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxTreeList" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxTreeList" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.Design" />
                <Simple name="ProjectPath" value="DevExpress.Web.Design" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.Mvc" />
                <Simple name="ProjectPath" value="DevExpress.Web.Mvc" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.Projects" />
                <Simple name="ProjectPath" value="DevExpress.Web.Projects" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
			<Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/Tests.ASP/Script.Tests" />
                <Simple name="ProjectPath" value="Script.Tests" />
                <Simple name="AdditionalOffset" value="Tests.ASP" />
              </Properties>
            </Complex>
			<Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxPivotGrid" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxPivotGrid" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
			<Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.Web.ASPxGauges" />
                <Simple name="ProjectPath" value="DevExpress.Web.ASPxGauges" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
			<Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.XtraReports.Web" />
                <Simple name="ProjectPath" value="DevExpress.XtraReports.Web" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
			<Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/ASP/DevExpress.XtraCharts" />
                <Simple name="ProjectPath" value="DevExpress.XtraCharts" />
                <Simple name="AdditionalOffset" value="ASP" />
              </Properties>
            </Complex>
          </Items>
        </Collection>
        <Simple name="HistoryPath" value="$/2016.1/ASP.GIT/asp_common_sync.config" />
        <Simple name="RepoRoot" value="$/2016.1" />
      </Properties>
    </Complex>
  </Items>
</Collection>