<Collection name="Root" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackBranch, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
  <Properties>
    <Simple name="Capacity" value="4" />
  </Properties>
  <Items>
    <Complex>
      <Properties>
        <Simple name="Name" value="2016.1" />
        <Collection name="TrackItems" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackItem, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
          <Properties>
            <Simple name="Capacity" value="13" />
          </Properties>
          <Items>
            <Complex>
              <Properties>
                <Simple name="Path" value="Win/DevExpress.DataAccess" />
                <Simple name="ProjectPath" value="DevExpress.DataAccess" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/BigQueryTests" />
                <Simple name="ProjectPath" value="BigQueryTests" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/DataAccessTests" />
                <Simple name="ProjectPath" value="DataAccessTests" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/EFCoreTests" />
                <Simple name="ProjectPath" value="EFCoreTests" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/MsSqlEF5Tests" />
                <Simple name="ProjectPath" value="MsSqlEF5Tests" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/MsSqlEF6Tests" />
                <Simple name="ProjectPath" value="MsSqlEF6Tests" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/MySqlEF6Tests" />
                <Simple name="ProjectPath" value="MySqlEF6Tests" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/SqliteEF6Tests" />
                <Simple name="ProjectPath" value="SqliteEF6Tests" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess/WizardTests" />
                <Simple name="ProjectPath" value="WizardTests" />
              </Properties>
            </Complex>
          </Items>
        </Collection>
        <Simple name="HistoryPath" value="$/2016.1/Git/dataaccess.config" />
        <Simple name="RepoRoot" value="$/2016.1" />
      </Properties>
    </Complex>
  </Items>
</Collection>