<Collection name="Root" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackBranch, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
  <Properties>
    <Simple name="Capacity" value="4" />
  </Properties>
  <Items>
    <Complex>
      <Properties>
        <Simple name="Name" value="2020.2" />
        <Collection name="TrackItems" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackItem, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
          <Properties>
            <Simple name="Capacity" value="9" />
          </Properties>
          <Items>
           <Complex>
              <Properties>
                <Simple name="Path" value="Bin" />
                <Simple name="ProjectPath" value="Bin" />
                <Simple name="Force" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="ASP" />
                <Simple name="ProjectPath" value="ASP" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Blazor" />
                <Simple name="ProjectPath" value="Blazor" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Builds.2005" />
                <Simple name="ProjectPath" value="Builds.2005" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="DB.Standard" />
                <Simple name="ProjectPath" value="DB.Standard" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.ASP" />
                <Simple name="ProjectPath" value="Demos.ASP" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.Blazor" />
                <Simple name="ProjectPath" value="Demos.Blazor" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.Dashboard" />
                <Simple name="ProjectPath" value="Demos.Dashboard" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.Dashboard" />
                <Simple name="ProjectPath" value="Demos.Dashboard" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.RealLife" />
                <Simple name="ProjectPath" value="Demos.RealLife" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.UWP" />
                <Simple name="ProjectPath" value="Demos.UWP" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.WinUI" />
                <Simple name="ProjectPath" value="Demos.WinUI" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.WinUI.UWP" />
                <Simple name="ProjectPath" value="Demos.WinUI.UWP" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.Win" />
                <Simple name="ProjectPath" value="Demos.Win" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Demos.XPF" />
                <Simple name="ProjectPath" value="Demos.XPF" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Examples" />
                <Simple name="ProjectPath" value="Examples" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="Icons" />
                <Simple name="ProjectPath" value="Icons" />
              </Properties>
            </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="Localization" />
                <Simple name="ProjectPath" value="Localization" />
              </Properties>
            </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="NuGet" />
                <Simple name="ProjectPath" value="NuGet" />
              </Properties>
            </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="NuGetDesktop" />
                <Simple name="ProjectPath" value="NuGetDesktop" />
              </Properties>
            </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="Localization" />
                <Simple name="ProjectPath" value="Localization" />
              </Properties>
           </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="npm" />
                <Simple name="ProjectPath" value="npm" />
              </Properties>
           </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="TestInstall" />
                <Simple name="ProjectPath" value="TestInstall" />
              </Properties>
           </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="Tests.ASP" />
                <Simple name="ProjectPath" value="Tests.ASP" />
              </Properties>
           </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="Tests.Dashboard" />
                <Simple name="ProjectPath" value="Tests.Dashboard" />
              </Properties>
           </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="Tests.DataAccess" />
                <Simple name="ProjectPath" value="Tests.DataAccess" />
              </Properties>
           </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="Tests.Win" />
                <Simple name="ProjectPath" value="Tests.Win" />
              </Properties>
           </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="Win" />
                <Simple name="ProjectPath" value="Win" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="XPF" />
                <Simple name="ProjectPath" value="XPF" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="XAF" />
                <Simple name="ProjectPath" value="XAF" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="UWP" />
                <Simple name="ProjectPath" value="UWP" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="WinUI" />
                <Simple name="ProjectPath" value="WinUI" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="WinUI.UWP" />
                <Simple name="ProjectPath" value="WinUI.UWP" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
           <Complex>
              <Properties>
                <Simple name="Path" value="msbuild.bat" />
                <Simple name="ProjectPath" value="msbuild.bat" />
                <Simple name="IsFile" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="dxupdate.py" />
                <Simple name="ProjectPath" value="dxupdate.py" />
                <Simple name="IsFile" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="dxupdate2.py" />
                <Simple name="ProjectPath" value="dxupdate2.py" />
                <Simple name="IsFile" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="build.py" />
                <Simple name="ProjectPath" value="build.py" />
                <Simple name="IsFile" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="buildnetcore.py" />
                <Simple name="ProjectPath" value="buildnetcore.py" />
                <Simple name="IsFile" value="true" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value=".pre-commit-config.yaml" />
                <Simple name="ProjectPath" value=".pre-commit-config.yaml" />
                <Simple name="IsFile" value="true" />
              </Properties>
            </Complex>
          </Items>
        </Collection>
        <Simple name="HistoryPath" value="$/2020.2/Git/dxvcs.config" />
        <Simple name="RepoRoot" value="$/2020.2/" />
      </Properties>
    </Complex>
  </Items>
</Collection>
