<Collection name="Root" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackBranch, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
  <Properties>
    <Simple name="Capacity" value="4" />
  </Properties>
  <Items>
    <Complex>
      <Properties>
        <Simple name="Name" value="2016.1" />
        <Collection name="TrackItems" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackItem, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
          <Properties>
            <Simple name="Capacity" value="5" />
          </Properties>
          <Items>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/Win/DevExpress.XtraDiagram" />
                <Simple name="ProjectPath" value="DevExpress.XtraDiagram" />
                <Simple name="AdditionalOffset" value="Win" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/XPF/DevExpress.Xpf.Diagram" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.Diagram" />
                <Simple name="AdditionalOffset" value="XPF" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/XPF/DevExpress.Xpf.ReportDesigner" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.ReportDesigner" />
                <Simple name="AdditionalOffset" value="XPF" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/XPF/DevExpress.Xpf.PdfViewer" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.PdfViewer" />
                <Simple name="AdditionalOffset" value="XPF" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Simple name="Path" value="$/2016.1/XPF/DevExpress.Xpf.Printing" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.Printing" />
                <Simple name="AdditionalOffset" value="XPF" />
              </Properties>
            </Complex>
          </Items>
        </Collection>
        <Simple name="HistoryPath" value="$/2016.1/Diagram/xpf_common_sync.config" />
        <Simple name="RepoRoot" value="$/2016.1" />
      </Properties>
    </Complex>
  </Items>
</Collection>