<Collection name="Root" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackBranch, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
  <Properties>
    <Simple name="Capacity" value="4" />
  </Properties>
  <Items>
    <Complex>
      <Properties>
        <Simple name="Name" value="2015.2" />
        <Collection name="TrackItems" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackItem, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
          <Properties>
            <Simple name="Capacity" value="7" />
          </Properties>
          <Items>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/2015.2/XPF/DevExpress.Mvvm" />
                <Simple name="ProjectPath" value="DevExpress.Mvvm" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/2015.2/XPF/DevExpress.Xpf.Core" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.Core" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/2015.2/XPF/DevExpress.Xpf.Controls" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.Controls" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/2015.2/XPF/DevExpress.Xpf.Grid" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.Grid" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/2015.2/XPF/DevExpress.Xpf.NavBar" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.NavBar" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/2015.2/XPF/DevExpress.Xpf.PropertyGrid" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.PropertyGrid" />
              </Properties>
            </Complex>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/2015.2/XPF/DevExpress.Xpf.Ribbon" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.Ribbon" />
              </Properties>
            </Complex>
          </Items>
        </Collection>
        <Simple name="HistoryPath" value="$/2015.2/xpf_common_sync.config" />
        <Simple name="RepoRoot" value="$/2015.2/XPF" />
      </Properties>
    </Complex>
  </Items>
</Collection>