<Collection name="Root" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackBranch, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
  <Properties>
    <Simple name="Capacity" value="4" />
  </Properties>
  <Items>
    <Complex>
      <Properties>
        <Simple name="Name" value="2015.2" />
        <Collection name="TrackItems" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackItem, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
          <Properties>
            <Simple name="Capacity" value="9" />
          </Properties>
          <Items>
            <Complex>
              <Properties>
                <Simple name="Path" value="XPF" />
                <Simple name="ProjectPath" value="" />
                <Simple name="GoDeeper" value="true" />
              </Properties>
            </Complex>
          </Items>
        </Collection>
        <Simple name="HistoryPath" value="$/2015.2/Git/xpf.config" />
        <Simple name="RepoRoot" value="$/2015.2/" />
      </Properties>
    </Complex>
  </Items>
</Collection>