<Collection name="Root" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackBranch, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
  <Properties>
    <Simple name="Capacity" value="4" />
  </Properties>
  <Items>
    <Complex>
      <Properties>
        <Simple name="Name" value="2015.2" />
        <Simple name="RepoRoot" value="$/Sandbox/litvinov/XPF" />
        <Collection name="TrackItems" type="System.Collections.Generic.List`1[[DXVcs2Git.Core.TrackItem, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
          <Properties>
            <Simple name="Capacity" value="1" />
          </Properties>
          <Items>
            <Complex>
              <Properties>
                <Null name="Branch" />
                <Simple name="Path" value="$/Sandbox/litvinov/XPF/DevExpress.Xpf.Core" />
                <Simple name="ProjectPath" value="DevExpress.Xpf.Core" />
              </Properties>
            </Complex>
          </Items>
        </Collection>
        <Simple name="HistoryPath" value="$/Sandbox/litvinov/synchistory_2015.2.config" />
      </Properties>
    </Complex>
  </Items>
</Collection>