<Complex name="Root" type="DXVcs2Git.Core.RegisteredUsers, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Dictionary name="Users" type="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral],[DXVcs2Git.Core.User, DXVcs2Git.Core, Culture=neutral]], mscorlib, Culture=neutral">
      <Items>
        <Item>
          <Simple value="DXVcs2GitService" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="noreply@mail.com" />
              <Simple name="Name" value="DXVcs2GitService" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="Bobyshev.Alexander" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="noreply@mail.com" />
              <Simple name="Name" value="Bobyshev.Alexander" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="Dementyev.Andrey" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="andrey.dementyev@devexpress.com" />
              <Simple name="Name" value="Dementyev.Andrey" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="ershov.mikhail" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="mikhail.ershov@devexpress.com" />
              <Simple name="Name" value="ershov.mikhail" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="Eskin" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="mikhail.eskin@devexpress.com" />
              <Simple name="Name" value="Eskin" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="filatov.denis" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="noreply@devexpress.com" />
              <Simple name="Name" value="filatov.denis" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="filinov.vsevolod" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="vsevolod.filinov@devexpress.com" />
              <Simple name="Name" value="filinov.vsevolod" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="khmelnitsky" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="denis.khmelnitsky@devexpress.com" />
              <Simple name="Name" value="khmelnitsky" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="litvinov" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="maxim.litvinov@devexpress.com" />
              <Simple name="Name" value="litvinov" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="Komarov" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="alexander.komarov@devexpress.com" />
              <Simple name="Name" value="Komarov" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="Serov.Alexey" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="alexey.serov@devexpress.com" />
              <Simple name="Name" value="Serov.Alexey" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="rebrov.artemp" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="artemp.rebrov@devexpress.com" />
              <Simple name="Name" value="rebrov.artemp" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="Abanin.Anton" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="anton.abanin@devexpress.com" />
              <Simple name="Name" value="Abanin.Anton" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="Egorov" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="alexander.egorov@devexpress.com" />
              <Simple name="Name" value="Egorov" />
            </Properties>
          </Complex>
        </Item>
        <Item>
          <Simple value="kostikov.ilya" />
          <Complex>
            <Properties>
              <Simple name="Mail" value="ilya.kostikov@devexpress.com" />
              <Simple name="Name" value="kostikov.ilya" />
            </Properties>
          </Complex>
        </Item>
      </Items>
    </Dictionary>
  </Properties>
</Complex>