<?xml version="1.0" encoding="utf-8"?>
<config>
  <integrators>
    <integrator url="tcp://ccnet.devexpress.devx:21234/CruiseManager.rem" />
  </integrators>
  <updateUrl>http://ccnet.devexpress.devx/ccnet/CCTray/DXCCTray.exe</updateUrl>
  <alwaysOnTop>False</alwaysOnTop>
  <refreshTime>5</refreshTime>
  <maximized>False</maximized>
  <minimized>False</minimized>
  <formWidth>1038</formWidth>
  <formHeight>694</formHeight>
  <useSkin>True</useSkin>
  <skinName>Lilian</skinName>
</config>