<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.26.0" targetFramework="net472" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.267" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="SharpSerializer" version="2.20" targetFramework="net46" />
  <package id="websocket-sharp-with-proxy-support" version="1.9.1" targetFramework="net46" />
</packages>