<Complex name="Root" type="DXVcs2Git.Core.Git.GitRepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Asp_2015.1" />
    <Simple name="FarmTaskName" value="TestBuild.v15.1" />
    <Simple name="DefaultServiceName" value="dxvcs2git.asp" />
    <Simple name="Server" value="http:\\asp-git" />
    <Simple name="FarmSyncTaskName" value="ASP sync task v15.1" />
    <Simple name="TargetBranch" value="2015.1" />
  </Properties>
</Complex>