<Complex name="Root" type="DXVcs2Git.Core.Git.GitRepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Common_2015.2" />
    <Simple name="FarmTaskName" value="TestBuild.v15.2" />
    <Simple name="DefaultServiceName" value="dxvcs2git.xpf" />
    <Simple name="Server" value="http:\\litvinov-lnx" />
    <Simple name="FarmSyncTaskName" value="XPF Common sync task v15.2" />
    <Simple name="TargetBranch" value="2015.2" />
  </Properties>
</Complex>