<Complex name="Root" type="DXVcs2Git.Core.Git.GitRepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Common_2016.1_GitServer" />
    <Simple name="FarmTaskName" value="TestBuild.v16.1" />
    <Simple name="DefaultServiceName" value="dxvcs2git.demos" />
    <Simple name="Server" value="http:\\gitserver" />
    <Simple name="FarmSyncTaskName" value="XPF Common sync task new v16.1" />
    <Simple name="TargetBranch" value="2016.1" />
  </Properties>
</Complex>