<Complex name="Root" type="DXVcs2Git.Core.Git.RepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="DataAccess_2015.1_GitServer" />
    <Simple name="FarmTaskName" value="TestBuild.v15.1" />
    <Simple name="DefaultServiceName" value="dxvcs2git.dataaccess" />
    <Simple name="Server" value="http://gitserver" />
    <Simple name="FarmSyncTaskName" value="DataAccess sync task new v15.1" />
    <Simple name="TargetBranch" value="2015.1" />
  </Properties>
</Complex>