<Complex name="Root" type="DXVcs2Git.Core.Git.RepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Diagram_2016.2_GitServer" />
    <Simple name="FarmTaskName" value="TestBuild.v16.2" />
    <Simple name="DefaultServiceName" value="dxvcs2git.diagram" />
    <Simple name="Server" value="http:\\gitserver" />
    <Simple name="FarmSyncTaskName" value="XPF Diagram sync task new v16.2" />
    <Simple name="TargetBranch" value="2016.2" />
    <Simple name="SupportsTesting" value="true"/>
    <Simple name="TestServiceName" value="dxvcs2git.tester"/>
    <Simple name="WebHook" value="sharedwebhook"/>
    <Simple name="WebHookTask" value="WebHook sync task"/>
  </Properties>
</Complex>