<Complex name="Root" type="DXVcs2Git.Core.Git.GitRepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Diagram_2016.1" />
    <Simple name="FarmTaskName" value="TestBuild.v16.1" />
    <Simple name="DefaultServiceName" value="dxvcs2git.diagram" />
    <Simple name="Server" value="http:\\litvinov-lnx" />
    <Simple name="FarmSyncTaskName" value="XPF Diagram sync task v16.1" />
    <Simple name="TargetBranch" value="2016.1" />
  </Properties>
</Complex>