<Complex name="Root" type="DXVcs2Git.Core.Git.GitRepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Diagram_2015.2_GitServer" />
    <Simple name="FarmTaskName" value="TestBuild.v15.2" />
    <Simple name="DefaultServiceName" value="dxvcs2git.diagram" />
    <Simple name="Server" value="http:\\gitserver" />
    <Simple name="FarmSyncTaskName" value="XPF Diagram sync task new v15.2" />
    <Simple name="TargetBranch" value="2015.2" />
  </Properties>
</Complex>