<Complex name="Root" type="DXVcs2Git.Core.Git.RepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="Scheduler_2016.1" />
    <Simple name="FarmTaskName" value="TestBuild.v16.1" />
    <Simple name="DefaultServiceName" value="dxvcs2git.scheduler" />
    <Simple name="Server" value="http://gitserver" />
    <Simple name="FarmSyncTaskName" value="Scheduler sync task v16.1" />
    <Simple name="TargetBranch" value="2016.1" />
    <Simple name="SupportsTesting" value="false"/>
    <Simple name="TestServiceName" value="dxvcs2git.tester"/>
    <Simple name="WebHook" value="sharedwebhook"/>
    <Simple name="WebHookTask" value="WebHook sync task"/>
  </Properties>
</Complex>