<Complex name="Root" type="DXVcs2Git.Core.Git.RepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="VisualTests_2018.1" />
    <Simple name="Server" value="http://gitserver" />
    <Simple name="TargetBranch" value="2018.1" />
    <Simple name="UseInstantMerge" value="True" />
  </Properties>
</Complex>