<Complex name="Root" type="DXVcs2Git.Core.Git.GitRepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="XPF_2015.1" />
    <Simple name="FarmTaskName" value="TestBuild.v15.1" />
    <Simple name="DefaultServiceName" value="dxvcs2git.xpf" />
    <Simple name="Server" value="http:\\gitserver" />
    <Simple name="FarmSyncTaskName" value="XPF sync task v15.1" />
    <Simple name="TargetBranch" value="2015.1" />
    <Simple name="SupportsTesting" value="false"/>
  </Properties>
</Complex>