<Complex name="Root" type="DXVcs2Git.Core.Git.RepoConfig, DXVcs2Git.Core, Culture=neutral">
  <Properties>
    <Simple name="Name" value="XPF_Demos_2016.1" />
    <Simple name="FarmTaskName" value="TestBuild.v16.1" />
    <Simple name="DefaultServiceName" value="dxvcs2git.demos" />
    <Simple name="Server" value="http:\\gitserver" />
    <Simple name="FarmSyncTaskName" value="XPF Demos sync task v16.1" />
    <Simple name="TargetBranch" value="2016.1" />
  </Properties>
</Complex>